h1 {
    font-size: 50px;
    color: red;
    text-align: center;
    font-family: 'Sigmar One', cursive
}

h2 {
    font-weight: bold;
    font-size: 30px;
    color: navy;
    text-align: center;
    padding-top: 80px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 3px
}

h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 3px;
}

li {
    padding: 5px;
    margin: 5px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
}

panel-body {
    align: center;
}

button {
    font-size: 16px;
}

#radio {
    margin: 10px;
    
}

.panel-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    color: white;
}

#newAdd {
    background-color: navy;
}

#addBurger {
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    padding: 10px;
    color: white;
    background-color: #990000;
}